*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: #16BC16;

}

.title{
  text-align: center;
  font-size: 3em;
  font-style: italic;
  background-color:
}

.playerArea, .dealerArea {
    box-sizing: border-box;
    height: 200px;
    position: relative;
    margin-bottom: 5px;
    background-color: #16BC16;
    border: 3px black solid;
}

.card {
  background-color: white;
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  color: #000000;
  font-size: 20pt;
  position: relative;
  width:  3.75em;
  height: 5.00em;
  text-align: center;
  line-height: 5;
  display: inline-block;
  margin-left: 5px;
}

}
.gameButton {
  font-size: 1.2em;
}

.playerTotal {
  color: white;
  position: relative;
  bottom: -165px;
  left: 10px;
}
