*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: #076324;

}

nav {
    margin: 5px 0 10px 10px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  
}


.title{
  text-align: center;
  font-size: 3em;
  font-style: italic;
  color: white;
}

.playerArea, .dealerArea {
    height: 200px;
    position: relative;
    width: 90%;
    background-color: #16BC16;
    border: 3px black solid;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 100px;
}

}
.gameButton {
  font-size: 1.2em;
}

.playerTotal, .money, .bet{
  color: white;
  position: relative;
  margin-left: 10px
}

.playerCard, .dealerCard, .hiddenCard{
  width:100px;
  height:150px;
  background:#f0ffff;
  position:relative;
  margin: 5px 0 0 5px;
  border-radius: 10px 0 10px;
  display: inline-block;
  left: 100px;
  top: 15px;
}

.hiddenCard {
  background: red;
}

.face {
  text-align:center;
  position:absolute;
  width:100%;
  top:50%;
  transform:translateY(-50%);
  font-size: 1.5em;
}
